@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --primary-color: #37617a;
    --primary-color-dark: #0d1a20;
    --secondary-color:#fb923c;
    --white:#ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
      min-height: 100vh;
      background: linear-gradient(to right bottom, #7aa7ba, #0d1a20);
 }
 .sidebar{
   position: absolute;
   width: 80px;
   height: 100%; 
   background: #ffffff;
   transition: 0.5s;
   padding-left: 10px;
   overflow: hidden;
   z-index: 10000;
   position: fixed;
 }
 .sidebar.active{
   width: 300px;
 }
.sidebar ul{
   position: relative;
   height: 100vh;
}
.sidebar ul li{
   position: relative;
   list-style: none;
}
.sidebar ul li.active{
   background: var(--primary-color);
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
}
.sidebar ul li.active::before{
   content: '';
   position: absolute;
   top: -20px;
   right: 0;
   width: 20px;
   height: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: 5px 5px 0 5px var(--primary-color);
   background: transparent;
}
.sidebar ul li.active::after{
   content: '';
   position: absolute;
   bottom: -20px;
   right: 0;
   width: 20px;
   height: 20px;
   border-top-right-radius: 20px;
   box-shadow: 5px -5px 0 5px var(--primary-color);
   background: transparent;
}
.logo{
   margin-bottom: 50px;
}
.logo span{
   color: black;
}
.icon{
   font-size: 1rem;
   color: var(--primary-color-dark);
}
.text{
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--primary-color-dark);
}
.sidebar ul li a{
   position: relative;
   display: flex;
   white-space: nowrap;
   text-decoration: none;
}
.sidebar ul li a .icon{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 60px;
   height: 70px;
   font-size: 1.5rem;
   transition: 0.5s;
}
.sidebar ul li.active a .icon{
   color: #fff;
}
.sidebar ul li a .text{
   position: relative;
   height: 70px;
   display: flex;
   align-items: center;
   font-size: 1rem;
   padding-left: 15px;
   text-transform: uppercase;
   letter-spacing: 0.05rem;
   transition: 0.5s;
}
.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text{
   color: #7aa7ba;
}
.menuToggle{
   position: absolute;
   top: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   background: #31a4ff;
   z-index: 1000;
   cursor:pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
}
.menuToggle::before{
   content: '';
   position: absolute;
   width: 30px;
   height: 3px;
   background: #fff;
   transform: translateY(-9px);
   transition: 0.5s;
   box-shadow: 0 9px 0 #fff;
}
.menuToggle::after{
   content: '';
   position: absolute;
   width: 30px;
   height: 3px;
   background: #fff;
   transform: translateY(9px);
   transition: 0.5s;
}
.menuToggle.active::before{
   transform: translateY(0px) rotate(45deg);
   box-shadow: 0 0 0 #fff;
}
.menuToggle.active::after{
   transform: translateY(0px) rotate(-45deg);
}
 .container{
    height: 100vh;
    width: 1300px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
 }

   .logo{
      position: relative;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--white);
      cursor: pointer;
      left: 2rem;
      z-index: -10000;
   }
 .content{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
 }
 .image{
    width: 100%;
    animation: shoe-animation 3s infinite;
    overflow: hidden;
    position: relative;
    left: 10%;
 }
 .image img{
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
    transform: rotate(-20deg);
 }
 .header{
    position: absolute;
    top: 3rem;
    left: 35%;
    transform: translateX(-50%);
 }
 .header h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
 }
 .header p{
    text-align: right;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
 }
 .header p:hover{
    color: var(--secondary-color);
 }
 .featured__items{
    position: absolute;
    transform: rotate(-90deg);
    top: 55%;
    left: 10%;
 }  
 .featured__items h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--white);
 }
 .featured__items p{
    color: var(--white);
 }
 .contact{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    transform: rotate(-90deg);
 }
 .contact span{
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    font-size: 1.2rem;
    color: var(--primary-color-dark);
    background-color: var(--white);
    transform: rotate(90deg);
 }
 footer{
    background-color: #111;
    margin-top: 300px;
  }
  .footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
  }
  .socialicons{
    display: flex;
    justify-content: center;
  }
  .socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialicons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
  }
  .socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .socialicons a:hover i{
    color: white;
    transition: 0.5s;
  }
  .footernav{
    margin: 30px 0;
    text-decoration: none;
  }
  .footernav ul{
    display: flex;
    justify-content: center;
  }
  .footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
  }
  .footernav ul li a:hover{
    opacity: 1;
  }
  .footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  .footerbottom p{
    color: white;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  @media (max-width:700px){
    .footernav ul{
      flex-direction: column;
    }
    .footernav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }
 
 @media(width <640px) {
   /* Adjustments for smaller screens */
   .logo {
       margin-left: -2rem;
   }

   .header {
       left: 50%;
       transform: translateX(-50%);
       text-align: center;
       top: 20rem;
   }
   .header p{
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   .featured__items {
       left: -20%;
       top: 70px;
   }

   .container {
       position: relative;
       z-index: 1; /* Set a higher z-index for the content */
   }

   .image {
       position: relative;
       z-index: -10000; /* Lower z-index for the image to go behind the sidebar */
       left: -2rem;
       top: 5rem;
   }

   .sidebar {
       position: fixed; /* Fix the sidebar to the screen */
       top: 0px;
       left: -200px; /* Hide the sidebar off-screen initially */
       width: 200px;
       height: 100vh;
       background-color: #ffffff;
       transition: 0.5s;
       z-index: 10000; /* Set a higher z-index for the sidebar to overlay the content */
   }

   .sidebar.active {
       left: 0; /* Show the sidebar when active */
   }

   .image img {
       max-width: 100%; /* Ensure the image takes full width */
   }
   .menuToggle{
      z-index: 100000;
   }
}
/* landing page end */

/* about page start */
.head{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 9%;
     height: 20vh; 
}
.head h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.head h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
}
.head p{
    font-size: 90%;
    color: #666;
    margin-bottom: 35px;
}
.container1{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.abt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.abt-image{
    flex: 1;
    overflow: hidden;
    margin-left: 41%;
}
.abt-image img{
    max-width: 350px;
    border-radius: 50px;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.abt-content{
    flex: 1;
}
.abt-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
    margin-left: 34%;
    margin-top: 40px;
}
.abt-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    
}
.abt-image img{
    transition: 0.5s ease;
}
.abt-image:hover img{
    transform: scale(1.2);
}
/* about page end */

/* contact page start */

.container2{
    width: 80%;
    margin-left: 10%;
}

.contact-box{
    background-color: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: linear-gradient(to right bottom, #7aa7ba, #0d1a20);
    color: #fff;
}
h1{
    margin-bottom: 10px;
}

.container2 p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181,0.3);
}

.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td:first-child{
    padding-top: 20px;
}
/* end of contact page */

/* products page starts */
.search{
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 20px;
}
input{
    width: 300px;
    height: 30px;
}

#search{
  margin-left: 0%;
  border-radius: 10px;
}
#product {
  display: flex;
  margin-left: 0%;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; */
}
  
.card {
    position: relative;
    border: 1px solid #ddd; /* Add border or any other styling as needed */
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    background: #fff;
    display: grid;
    margin: 20px;
    width: 400px;
    margin-left: 20%;
    height: 450px;
}
.card.move{
  margin-left: -0%;
}
.card:hover {
    transform: scale(1.05);
}  
.card.imag {
    position: absolute;
    background: rgb(241, 241, 241);
    width: 100px;
    height: 100px; /* Adjust the height as needed */
    /* display: grid; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
}
.card .title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    bottom: 5.5rem;
    left: 4rem;
    font-weight: 400;
    color: #000;
}
.card .price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    bottom: 3.5rem;
    left: 7em;
    font-weight: 400;
    color: #000;
}
#add{
    --color: black;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: white;
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    margin-left: 26%;
    top: 2%;
    background: var(--primary-color);
}
#add::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 200px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}
  
#add:hover {
    color: white;
}
  
#add:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
}
  
#add:hover::before {
    top: -30px;
    left: -30px;
}
/* products page ends */

/* admin page start */
.product-images{
    width: 250px
 }
 h4{
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
 }
 .tbl{
    margin-left: 10%;
 }
  button {
    padding: 10px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50%; /* Adjust the right margin as needed */
  }
  .price{
    margin-left: 40px;
  }
  .add{
    margin-left: 70%;
    margin-top: 30px;
  }
  @media screen and (max-width: 550px) {
    /* Adjust styles for screens smaller than 600px wide */
    table {
      width: 100%; /* Make the table full width on smaller screens */
      top: 10%;
      position: absolute;
    }
 
    .tbl {
      margin-left: 0; /* Remove the left margin for smaller screens */
    }
 
    .price {
      margin-left: 0; /* Remove the margin for smaller screens */
    }
    .product-images{
       width: 100px;
    }
  }
  /* admin page ends */

  /* cart page start */
.table td{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.table img{
    width: 200px;
}
.table button{
    margin-left: 50%;
    margin-top: 23%;
}
.table input{
    width: 50px;
}
  /* cart page end */